<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ログインフォーム</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap-theme.min.css}"/>
</head>

<body>

<div class="container">
    <h1>BLOG TITLE</h1>
    <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">ログインフォーム</h2>

        <div th:if="${param.error}" class="alert alert-danger">
            ユーザー名またはパスワードが正しくありません。
        </div>
        <input type="text" class="form-control" name="username" placeholder="Username" required="required"
               autofocus="autofocus"/>
        <input type="password" class="form-control" name="password" placeholder="Password" required="required"/>
    		<input class="btn btn-primary" type="submit" value="Sign in"/>
    </form>
    <form th:action="@{/loginForm}" method="post">
		<input class="btn btn-primary btn-sm float-right" type="submit" name="goToTop" value="ブログへ"/>
	</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</body>
</html>