<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>BLOG TITLE</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
	<div class="col-sm-12">
		<p>
			<span sec:authentication="principal.user.username">duke</span>さんログイン中。
		</p>
		<form th:action="@{/logout}" method="post"><input type="submit" class="btn btn-secondary btn-sm" value="ログアウト" /></form>
		<fieldset>
			<legend>新規投稿</legend>
			<form th:action="@{/articles/create}" class="form-horizontal" method="get">
				<input class="btn btn-primary" type="submit" name="form" value="記事を書く"/>
			</form>
			<legend>記事一覧</legend>
			<table class="table table-striped table-bordered table-condensed">
				<tr>
					<th>ID</th>
					<th>投稿時刻</th>
					<th>タイトル</th>
					<th>ユーザ</th>
					<th colspan="3">操作</th>
				</tr>
				<tr th:each="article : ${articles}">
					<td th:text="${article.id}">100</td>
					<td th:text="${article.postDate}">2017-05-07T15:57:18.434</td>
					<td th:text="${article.title}">ほげほげ試してみた</td>
					<td th:text="${article.user.username}">duke</td>
					<td>
						<form th:action="@{/articles/show}" method="get">
							<input class="btn btn-primary" type="submit" name="form" value="表示"/>
							<input type="hidden" name="id" th:value="${article.id}"/>
						</form>
					</td>
					<td>
						<form th:action="@{/articles/edit}" method="get">
							<input class="btn btn-success" type="submit" name="form" value="編集"/>
							<input type="hidden" name="id" th:value="${article.id}"/>
						</form>
					</td>
					<td>
						<form th:action="@{/articles/delete}" method="get">
							<input class="btn btn-danger" type="submit" name="form" value="削除"/>
							<input type="hidden" name="id" th:value="${article.id}"/>
						</form>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</body>
</html>